@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model CatalogVM[]

<div class="catalog-wrapper">
	<div class="sidebar">
		<div class="row">
			<aside class="row-sm-4">
				<h3>Filters</h3>
				<div class="card">
					<article class="card-group-item">
						<header class="card-header">
							<h6 class="title">Choose category </h6>
						</header>
						<div class="filter-content">
							<div class="card-body">
								<label class="form-check">
									<input class="form-check-input" type="checkbox" name="exampleRadio" data-filter="Programming">
									<span class="form-check-label">
										Programming
									</span>
								</label>
								<label class="form-check">
									<input class="form-check-input" type="checkbox" name="exampleRadio" data-filter="Saving-Earth">
									<span class="form-check-label">
										Saving Earth
									</span>
								</label>
								<label class="form-check">
									<input class="form-check-input" type="checkbox" name="exampleRadio" data-filter="Spinning-fidget">
									<span class="form-check-label">
										Spinning fidget.
									</span>
								</label>
							</div> <!-- card-body.// -->
						</div>
					</article> <!-- card-group-item.// -->
				</div> <!-- card.// -->

				<div class="card">
					<article class="card-group-item">
						<header class="card-header">
							<h6 class="title">Instructor </h6>
						</header>
						<div class="filter-content">
							<div class="card-body">
								<form>
									<label class="form-check">
										<input class="form-check-input" type="checkbox" data-filter-instructor="Isam">
										<span class="form-check-label">
											Isam
										</span>
									</label> <!-- form-check.// -->
									<label class="form-check">
										<input class="form-check-input" type="checkbox" data-filter-instructor="Nadine">
										<span class="form-check-label">
											Nadine
										</span>
									</label>  <!-- form-check.// -->
									<label class="form-check">
										<input class="form-check-input" type="checkbox" data-filter-instructor="Pontus">
										<span class="form-check-label">
											Pontus
										</span>
									</label>  <!-- form-check.// -->
								</form>

							</div> <!-- card-body.// -->
						</div>
				</div> <!-- card.// -->
				</article> <!-- card-group-item.// -->
			</aside> <!-- col.// -->
			<aside class="row-sm-4">
				<div class="card">
					<article class="card-group-item">
						<header class="card-header"><h6 class="title">Price</h6></header>
						<div class="filter-content">
							<div class="card-body">
								<label class="btn btn-danger">
									<input class="form-check-input" type="radio" name="myradio" id="FreeCourses" onchange="change(this)" data-filter-price="Free">
									<span class="form-check-label">Free</span>
								</label>
								<label class="btn btn-primary">
									<input class="form-check-input" type="radio" name="myradio" id="non-FreeCourses" data-filter-price="Money">
									<span class="form-check-label">Money!</span>
								</label>
								<label class="btn btn-info">
									<input class="form-check-input" type="radio" name="myradio" id="AllIn" data-filter-price="All">
									<span class="form-check-label">All courses</span>
								</label>
							</div> <!-- card-body.// -->
						</div>
					</article> <!-- card-group-item.// -->
				</div> <!-- card.// -->
			</aside> <!-- col.// -->
		</div> <!-- row.// -->

	</div>
	<!--container end.//-->



	<div class="content">
		<div class="container">
			<div id="rowDiv" class="row">
				@foreach (var course in Model)
				{
					<div class="card course"
						 course-price="@course.Price"
						 course-instructor="@course.Teacher"
						 course-category="@course.Category"
						 style="flex-direction:row;width: 18rem; margin:10px">
						<a asp-controller="Lwi" asp-action="Details" asp-route-id="@course.Id" style="display:flex;flex-direction:column">
							<img src="~/images/@course.ImgName" class="card-img-top" alt="@course.ImgAlt">
							<div class="card-body">
								<h5 class="card-title">@course.Name</h5>
								<p class="card-text">@course.DescriptionShort</p>
							</div>
							<div class="card-footer text-muted" style="padding-bottom:0;margin-bottom:0">
								<p><strong>Price:</strong> @course.Price</p>
							</div>
						</a>
					</div>
				}
			</div>
		</div>
	</div>
</div>
<script type="text/javascript">
	var filterCheckboxes = document.querySelectorAll('.form-check-input');
	var courses = document.querySelectorAll(".course")

	function change(box) {
		courses.forEach(function (course) {
			var price = course.getAttribute("course-price")
			if (box.id === "FreeCourses") {
				if (price > 0) {
					console.log(1)
					course.style.display = "none"
				}
				else {
					course.style.display = ""
				}
			}
		})
	}
											//filterCheckboxes.forEach(function (checkbox) {
											//	checkbox.addEventListener('change', function () {
											//		console.log(checkbox)
											//		var courses = document.querySelectorAll('.course')
											//		courses.forEach(function (course) {
											//			course.getAttribute("course-price") > 0 ? course.style.display = '' : course.style.display = 'none';
											//		})
											//		// loop through product divs
											//	});
											//});
</script>