@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model CatalogVM[]


<div class="catalog-wrapper">
	<div class="sidebar">
		<h2>Filters</h2>
		<ul class="filters-container">
			<li class="pris-filter">
				Pris:
				<ul>
					<li>
						<input id="Free" name="Price" type="radio" />
						<label for="Free">Free</label>
					</li>
					<li>
						<input name="Price" id="Money" type="radio" />
						<label for="Money">Money</label>
					</li>
				</ul>
			</li>
			<hr />
			<li class="category-filter">
				Category:
				<ul>
					<li>
						<input type="checkbox" id="Miljö" />
						<label for="Miljö">Miljö</label>
					</li>
					<li>
						<input type="checkbox" id="Programmering" />
						<label for="Programmering">Programmering</label>
					</li>
					<li>
						<input type="checkbox" id="WebbUtveckling" />
						<label for="WebbUtveckling">WebbUtveckling</label>
					</li>
					<li>
						<input type="checkbox" id="Databas" />
						<label for="Databas">Databas</label>
					</li>
				</ul>
			</li>
		</ul>
	</div>

	<div class="content">
		@foreach (var course in Model)
		{
			<div>
				@course.Id
				@course.Name
				@course.Price
				@course.ImgName
				@course.ImgAlt
				@course.Category
				@course.DescriptionShort

				<a asp-controller="Lwi" asp-action="Details" asp-route-id="@course.Id">Click Me</a>
			</div>
		}
	</div>
</div>