@model DetailsVM


<div>
    @TempData["Message"]
    <form asp-controller="Lwi" asp-action="Details">

        @Model.Id
        @Model.Name
        @Model.Price
        @Model.ImgName
        @Model.ImgAlt
        @Model.Category
        @Model.DescriptionLong
    <input type="submit" value="Lägg till i varukorgen">
    </form>

</div>
